#masthead {
    color: white;
    text-align: center;
    height: 100vh;
    background-image: url(../../../assets/images/fmn09281_compressed.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.intro-text {
    padding-top: 12rem;

    .intro-lead-in {
        font-size: 2rem;
        font-style: italic;
        font-family: cursive;
        margin-bottom: 2rem;
    }
    .intro-heading {
        font-size: 5rem;
        font-weight: 700;
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
        margin-bottom: 2rem;
    }
}

.section-full-height {
    height: 100vh;
}

.page-section {
    padding: 5rem 0;
}

.section-subheading {
    font-style: italic;
    margin-bottom: 2rem;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.gallery-item {
    .gallery-item-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease .5s;
        opacity: 0;
        background: rgba(254,209,54,.9);
        
    }
    .gallery-item-hover:hover {
        opacity: 1;
    }
}

