.btn {
    &.btn-primary,
    &.btn-default {
        background-color: $primaryButtonColor;
        border: none;
        &:hover {
            background-color: $primaryButtonHoverColor;

        }
        &:not(:disabled):not(.disabled):active {
            background-color: $primaryButtonColor;
        }
    }
}