

// theme color, main frame color
$yellow: #fed136;
$dark: black;
$light: white;
$orange: #fec810;
$teal: #008080;
$silver: #C0C0C0;
$gray: #808080;

$primaryButtonColor: $yellow;
$primaryButtonHoverColor: $orange;